*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Body styling*/
body{
    height: 100vh; 
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    background-position: center;
}

:root{
  --primary-color:#fff;
  --secondary-color:#333;
  --hover-color:#555;
  --footer-color:black;
}


/*image styles */
.image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 0;
  max-width: 400px;
  max-height: 1200px;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;

}




.image img:hover {
  filter: grayscale(0.7) blur(3px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
}


/*image styling ends*/

.container{
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    width: 50%;
    padding: 20px;
}

.image{
    width: 40%;
    padding: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.download{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.download:hover {
    background-color: #555;
  }
  
  .work {
    background-color:black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .work:hover {
    background-color: #555;
  }
/*Header for Nav Bar*/

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
}

a:hover{
  color: var(--footer-color);
}

header{
  position: relative;
  padding: 0 2rem;
  
}

.navbar{
  position: fixed;
  background: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;
  max-width: 1510px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: var(--footer-color);
  color: var(--primary-color);
  padding:0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale:1.05;
  color: var(--primary-color);
}

.action_btn:active{
  scale: 1.95;
}


/*drop down menu styles start*/

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1 );
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
  padding:0.7rem ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*drop down menu styles ends*/

/*header responsive design starts*/

@media(max-width: 992px){
  .navbar .links,
   .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }


  .dropdown_menu{
    display: block;
  }
}

@media(max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}

/*header responsive design ends


/*End of Nav bar*/


/*Footer Design*/
.footer{
    background-color: black;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

.footer p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer a:hover{
    color: #ccc;
}

